{% extends 'base.html.twig' %}

{% block title %}Mes Vêtements{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes Vêtements</h1>
        <p>Bienvenue sur la liste de mes Vêtements</p>
        <div class="count mt-4">Il y a {{ vetements.getTotalItemCount }} Vêtement(s)</div>

        {% if vetements|length > 0 %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Description</th>
                        <th scope="col">Taille</th>
                        <th scope="col">Marque</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vetement in vetements %}
                        <tr class="table-primary">
                            <td>{{ vetement.id }}</td>
                            <td>{{ vetement.nom }}</td>
                            <td>{{ vetement.description }}</td>
                            <td>{{ vetement.tailles }}</td>
                            <td>{{ vetement.marque.nom }}</td>
                            <td>
                                {% for image in vetement.images %}
                                    <img src="{{ asset(image.chemin) }}" alt="Vetement Image" style="max-width: 100px; max-height: 50px;">
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('app_ingredient_new') }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(vetements) }}
            </div>
        {% else %}
            <h4>Il n'y a pas de vetements</h4>
        {% endif %}
    </div>
{% endblock %}
