<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>

		<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
		<link href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.css') }}" rel="stylesheet"/>
		<link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>


		{% block stylesheets %}
			<!-- Additional stylesheets go here -->
			{{encore_entry_link_tags('app')}}
		{% endblock %}

		{% block javascripts %}<!-- Additional scripts go here -->
			{# {{encore_entry_tags('app')}} #}
		{% endblock %}
	</head>

	<body>
    {% block title %}
			<title>Your Title Here</title>
 {% endblock %}
		{% block body %}

        {% block header %}
         {% endblock %}
			<!-- Your content goes here -->


		{% endblock %}
	</body>
</html>
